* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root {
    --negro: rgb(18, 18, 18);
    --azul-oscuro: rgb(35, 3, 106);
    --azul-medio: rgb(48, 0, 156);
    --azul-claro: rgb(55, 0, 179);
    --violeta-azulado: rgb(86, 0, 232);
    --violeta-vibrante: rgb(98, 0, 238);
    --violeta: rgb(98, 0, 238);
    --lila-oscuro: rgb(152, 94, 255);
    --lila: rgb(187, 134, 252);
    --lila-claro: rgb(219, 178, 255);
    --blanco-lila: rgb(242, 231, 254);
    --blanco-gris: rgb(248, 249, 250);
    --gris-claro: rgb(233, 236, 239);
    --gris-medio: rgb(206, 212, 218);
    --gris-oscuro: rgb(173, 181, 189);
    --gris-super-oscuro: rgb(52, 58, 64);
    --negro-gris: rgb(33, 37, 41);
}

.modo-oscuro {
    --color-fondo: var(--azul-oscuro);
    --color-texto: var(--blanco-lila);
    --nav-color: var(--negro);
    --menu-imagen: var(--violeta-azulado);
    --menu-texto: var(--violeta-azulado);
    --filtro-rango: var(--lila);
    --color-hover: var(--lila-claro);
    --meme-texto: var(--blanco-lila);
}

.modo-claro {
    --color-fondo: var(--gris-claro);
    --color-texto: var(--negro-gris);
    --nav-color: var(--gris-medio);
    --menu-imagen: var(--gris-oscuro);
    --menu-texto: var(--gris-oscuro);
    --filtro-rango: var(--gris-super-oscuro);
    --meme-texto: var(--blanco-gris);
    --color-hover: var(--gris-claro);
}

body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: 'Roboto', sans-serif;
}



h1 {
    text-align: center;
    padding: 1rem;
    display: inline-block;
    width: 100%;
    height: 60%;
    font-size: 2rem;
    color: var(--color-texto);

}
nav {
    /* display: flex; */
    height: 130px;
    background-color: var(--nav-color);
}

nav ul {
    width: 100%;
    height: 40%;
    text-align: center;
    font-size: 1.2rem;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 1rem;
    text-align: center;
    justify-content: center;
    color: var(--color-texto);
}

nav ul li a {
   text-decoration: none;
}

nav ul li:hover {
    background-color: var(--color-hover);
    border-radius: 20px;
    transition: 1ms;
    cursor: pointer;
}

a:visited {
    color: var(--color-texto);
  }


/* END OF NAV */

/* SECCION MEME */

.meme-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* position: absolute; */
  
    
}
.meme-generador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    margin: 0.5rem;
    position: relative;
    background-color: var(--negro);
}

.meme-generador-texto {
    background-color: var(--meme-texto);
    color: var(--color-texto);
}

.meme-imagen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    background-position: center;
    flex-grow: 1;
    background-size: cover;
}
.meme-generador-texto {
    height: 80px;
    width: 100%;
    text-align: center;
    padding: 1rem;
}

.filtro-rango {
    accent-color: var(--filtro-rango);
}


.boton-contenedor {
   display: flex;
   flex-direction: column;
   padding: 0.2rem;
}

#boton-descargar {
    align-items: center;
    display: inline-block;
    width: 180px;
    height: 60px;
    border-radius: 30px;
}

/* SECCION IMAGEN */


.seccion-imagen {
    height: 100%;
    width: 300px;
    padding: 2rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    right: 0;
    top: 0;
    align-self: flex-end;
    position: absolute;
   visibility: hidden;
   background-color: var(--menu-imagen);
   color: var(--color-texto);
}

/* SECCION TEXTO */

.seccion-texto {
height: 100%;
width: 300px;
padding: 2rem;
display: flex;
justify-content: flex-start;
flex-direction: column;
right: 0;
top: 0;
align-self: flex-end;
position: absolute;
visibility: hidden;
background-color: var(--menu-texto);
color: var(--color-texto);
visibility: hidden;

}

.desplegar {
    visibility: visible;
}

.ocultar {
 display: none;
}

.boton-cerrar {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 1rem;
    width: 20px;
    font-weight: 1200;
}

.meme-generador-texto {
    color: black;
    text-align: center;
    align-items: center;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
        
.fondo-transparente {
    background-color: transparent;
}

